<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/principal">Principal feature</a>
      <a mat-list-item routerLink="/optional">Optional feature</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Orchard Core OpenId with Angular-oauth2-oidc</span>
      <span class="example-spacer"></span>
      <ng-container
        *ngIf="{ value: isAuthenticated$ | async } as isAuthenticated"
      >
        <button
          mat-icon-button
          aria-label="Login button"
          matTooltip="Login"
          (click)="login()"
          *ngIf="!isAuthenticated.value"
        >
          <mat-icon aria-label="Login icon">login</mat-icon>
        </button>

        <button
          mat-icon-button
          aria-label="Logout button"
          matTooltip="Logout"
          (click)="logout()"
          *ngIf="isAuthenticated.value"
        >
          <mat-icon aria-label="Logout icon">logout</mat-icon>
        </button>
        <span *ngIf="isAuthenticated.value" id="name">{{ name }}</span>
      </ng-container>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
